**/fish_variables
**/UserAccount.dat

# ignore entire cache directory anywhere under ~/.config
**/cache/
**/cache/**
**/__pycache__/
**/__pycache__/**
**/.cache/
**/.cache/**

# ignore temporary fish files
**/*.tmp.*

# ignore blender extensions
**/blender/**/extensions/**
**/blender/**/scripts/**
**/blender/**/recent-files.txt
**/blender/**/recent-searches.txt
**/blender/**/platform_support.txt
**/blender/**/bookmarks.txt
**/blender/**/CloudRig.json