**/fish_variables
**/UserAccount.dat

# Chezmoi
install_guides/**
install_scripts/**
README.md

# Ignore entire cache directory anywhere under ~/.config
**/cache/
**/cache/**
**/__pycache__/
**/__pycache__/**
**/.cache/
**/.cache/**

# Ignore temporary fish files
**/*.tmp.*

# Blender
**/blender/*/config/*
!**/blender/*/config/startup.blend
!**/blender/*/config/userpref.blend

# Ignore hyprland display and workspace config
**/hypr/monitors.conf
**/hypr/workspaces.conf

# Other
**/gtk-3.0/bookmarks
