**/fish_variables
**/UserAccount.dat

# ignore entire cache directory anywhere under ~/.config
**/cache/
**/cache/**
**/__pycache__/
**/__pycache__/**
**/.cache/
**/.cache/**

# ignore temporary fish files
**/*.tmp.*

# ignore Blender extensions
**/blender/**/extensions/**
**/blender/**/scripts/**
**/blender/**/recent-files.txt
**/blender/**/recent-searches.txt
**/blender/**/platform_support.txt
**/blender/**/bookmarks.txt
**/blender/**/cloudrig.json
**/blender/**/datafiles/**
## Clean panels
**/blender/**/cp-keymaps/**
**/blender/**/CP-Backups/**
**/blender/**/CP-Addons To Load on Boot.txt

# ignore hyprland display and workspace config
**/hypr/monitors.conf
**/hypr/workspaces.conf

# other
**/gtk-3.0/bookmarks