[Unit]
Description=ydotool daemon
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/ydotoold \
  --socket-path=/run/user/%U/.ydotool_socket \
  --socket-own=%U:%U
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
